<div class="row text-center header">
  <h2>Add Email</h2>
</div>

<form action="/emails/" method="post">
  <input id='id' name='id' type='hidden' value='<%= @contact.id() %>'>
  <div class="form-group">
    <label for="email_address">Enter an Email</label>
    <input id='email_address' type="text" name="email_address" class="form-control" required>
  </div>

  <label form="work">Type</label><br>
  <label form="email_type">Work</label>
  <input name="work" id='email_type' type="radio" value="true" checked="yes">
  <label form="email_type">Personal</label>
  <input name="work" id='email_type' type="radio" value="false"><br>

  <button class="btn btn-primary" type="submit">Add Email</button>
</form>
