<h2>Add a new address:</h2>

<form action="/addresses/" method="post">
  <label for="street">Street Name: </label>
  <input type="text" name="street">
  <label for="city">City: </label>
  <input type="text" name="city">
  <label for="state">State: </label>
  <input type="text" name="state">
  <label for="zip">Zip Code: </label>
  <input type="text" name="zip">
  <button type="submit">Submit New Contact</button>
</form>
