<div class="row text-center header">
  <h1 id="main-title">Contacts</h1>
</div>

<% if @contacts.any? %>
  <table class="table table-striped table-condensed">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>View</th>
    </tr>

  <% @contacts.each() do |contact| %>
    <tr>
      <td><%= contact.first_name() %> </td>
      <td><%= contact.last_name() %>  </td>
      <td><a href="/contacts/<%= contact.id() %>">view</a></td>
    </tr>
  <% end %>
  </table>
<% end %>

<div class="text-center">
  <%if @contacts.any? %>
    <a class="btn btn-primary" href="/contacts/new/">Add Another Contact</a>
  <% else %>
    <a class="btn btn-primary" href="/contacts/new/">You should add a contact!</a>
  <% end %>
</div>
