<div class="row text-center header">
  <h1 id="main-title">Contact book:</h1>
</div>


<div class="row text-center">

  <div class="col-md-6 text-right">
    <a class="btn btn-primary"  href="/contacts/">View Contact Book</a>
  </div>

  <div class="col-md-6 text-left">
    <a class="btn btn-primary " href="/contacts/new/">Add a New Contact</a>
  </div>
</div>
