<div class="row text-center header">
  <h1 id="main-title">Contact book:</h1>
</div>


<div class="row text-center">
    <a class="btn btn-primary btn-lg"  href="/contacts/">View Contact Book</a>
    <a class="btn btn-primary btn-lg" href="/contacts/new/">Add a New Contact</a>
</div>
